# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive\Unical\Terzo anno\INGSW\Esercizi\Singleton__Per_03_11_INGSW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
