# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Google Drive\Unical\Terzo anno\INGSW\design-patterns-exercises-RaffaeleDodaro\FlyWeightCar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
